<form method="POST" action="/register" class="form-inline">
  <div class="form-group">
    <label for="Jane">First Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" name="firstName">
    <label for="Jane">Last Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" name="lastName">
    <label for="Jane">Email</label>
    <input type="email" class="form-control" id="exampleInputName2" placeholder="Jane Doe" name="email">
    <label for="Jane">username</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" name="userName">
    <label for="Jane">password</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe" name="password">
    <button type="submit">Submit</button>
  </div>
</form>
